/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

app-root {

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
}

.innerClass {
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add padding for spacing */
  background-color: rgba(18,18,18.87); /* Greyish black */
  box-shadow: 0 4px 6px rgba(30, 30, 30, 0.6); /* Add a subtle shadow */
  color : rgba(255,255, 255, 0.87);

}
a:-webkit-any-link {
  color: aqua;
}
a:-webkit-any-link:active {
  color: white;
}
